*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: azure;
    color: black;
    padding-top: 60px;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #a83279, #d38312);
    box-shadow: 0 4px 8px black;
    z-index: 1000;
    height: 60px; 
}

.nav-container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    align-items: center;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-toggle{
    font-size: 24px;
    background: none;
    color: white;
    cursor: pointer;
}

.logo img{
    height: 40px;
}

.search-bar{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-bar input{
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solide black;
    width: 150px;
    transition: all 0.3s;
}

.search-bar input :focus{
    outline: none;
    border-color: wheat;
    box-shadow: 0 0 5px white;    
}

.search-bar button{
    padding: 6px 12px;
    border-radius: 20px;
    border: none;
    background-color: aliceblue;
    cursor: pointer;
    transition: 0.3s;
}

.search-bar button:hover {
    background-color: #a83279;
}

.nav-right {
display: flex;
align-items: center;
gap: 15px;
}

.btn{
    background-color: rgb(240, 178, 78);
    padding: 6px;

}

.notification-popup {
    position: fixed;
    top: 70px;
    right: 20px;
    color: black;
    border: 1px solid blue;
    z-index: 9999;
    display: none;
}

.notification-popup button {
    margin-top: 10px;
    background-color: brown;
    color: white;
    cursor: pointer;
}

.side-menu {
    position: fixed;
    top: 60px;
    left: -2000px;
    width: 20%;
    height: 90%;
    transition: left 0.3s ease;
    z-index: 9998;
    background-color: antiquewhite;
}

.side-menu.open {
    left: 0;

}

.side-menu ul li {
    border-bottom: 1px solide black;
}

.side-menu ul li a {
    color: black;
    font-weight: bold;
}

.menu-toggle {
    font-size: 24px;
    margin-left: 10px;
    color: beige;
}

.vedio-section{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.vedio-section h2 {
    color: black;
}

.vedio-grid {
    display: grid;
    gap: 20px;
}

.vedio-card {
    background-color: white;
    border-radius:  10px;
    box-shadow: 0 2px 10px black;
    cursor: pointer;
    transition: transform 0.2s;
}

.vedio-card :hover{
    transform: scale(1.03);
}

.vedio-card img {
    width: 100%;
    height: au;
}

.vedio-card h3 {
    font-size: 16px;
}


.vedio-card p {
    font-size: 14px;
    color: brown;
}

@media (max-width : 600px) {
    body{
        background-color: #d38312;
        color: black;
        padding-top: 60px;
    }
}